<div class='app'>
  <!--this component creates the nav bar-->
  <nav>
    <div class='navbar-logo'>
      <!-- hidden is used for dark mode toggle -->
      <a [hidden]="darkMode" routerLink='/home'>
        <h2 class="WKL_light">WKL</h2>
        
      </a>
      <a [hidden]="!darkMode" routerLink='/home'>
        <h2 class="WKL_dark">WKL</h2>
        
      </a>
    </div>
    <ul class='navbar-links'>
      <li><a [style.color]="!darkMode ? '#313638' : '#e1e1e5'" class='nav-link' routerLink='/about'>About Me</a></li>
      <li><a [style.color]="!darkMode ? '#313638' : '#e1e1e5'" class='nav-link' routerLink='/experiences'>My Experiences</a></li>
      <li><a [style.color]="!darkMode ? '#313638' : '#e1e1e5'" class='nav-link' href="mailto:william.lafond@mail.mcgill.ca">Contact Me</a></li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>