<style>
    .home-header {
        display: flex;
        justify-content: center;
        align-items: space-between;
        gap: 20px;
        padding: 0 20px; /* Add padding to ensure content is not sticking to the edges */
    }

</style>

<div class='home-container'>
    
    <div class="home-header"> 
        <h1>{{greeting}}, I'm William</h1>
        <app-dark-mode-toggle></app-dark-mode-toggle> 
        
    </div>

    <h2 class="home-subheading">
        <span [hidden]="!darkMode" class="tw" #tw></span>
        <span [hidden]="darkMode" class="twdark" id="twdark"></span>
    </h2>
    <a [hidden]="darkMode">

    </a>
    
    <a [hidden]="!darkMode">

    </a>

</div>
<app-contact></app-contact>